
h1{
 /*   using color names */

    /* color: green; */

/* rgb */
/* color: rgb(155, 0, 125); */

/* hexdecimal */
color: #ff0;

}

body {
    background-color: rgb(0, 0, 0);
}
div {
    color: aliceblue;
    height: 200px;
    width: 200px;
    background-color: rgba(255, 0, 0, 0.4 );

}
