div{
    border: solid red 10px;

    /* padding-top: 10px;
    padding-right: 10px;
    padding-left: 10pxp;
    padding-bottom: 10px; */
    
    padding: 20px;

    background-color: black;
    color: yellow;

    display: inline-block;
    height: 250px;
    width: 250px;
    margin: 20px;
}