h1 {
  font-size: 100px;
  font-family: "Arial Narrow Bold", sans-serif;

  font-style: normal;
  font-weight: bolder;
  font-variant: small-caps;


}

p {
  line-height: 1.6;
  word-spacing: 2px;
  letter-spacing: 1px;
}
